<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10101</string>
			<key>name</key>
			<string>北京</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10102</string>
			<key>name</key>
			<string>上海</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10103</string>
			<key>name</key>
			<string>天津</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10104</string>
			<key>name</key>
			<string>重庆</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10121</string>
			<key>name</key>
			<string>浙江</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10128</string>
			<key>name</key>
			<string>广东</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10119</string>
			<key>name</key>
			<string>江苏</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10112</string>
			<key>name</key>
			<string>山东</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10123</string>
			<key>name</key>
			<string>福建</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10122</string>
			<key>name</key>
			<string>安徽</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10127</string>
			<key>name</key>
			<string>四川</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10120</string>
			<key>name</key>
			<string>湖北</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10109</string>
			<key>name</key>
			<string>河北</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10129</string>
			<key>name</key>
			<string>云南</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10105</string>
			<key>name</key>
			<string>黑龙江</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10106</string>
			<key>name</key>
			<string>吉林</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10107</string>
			<key>name</key>
			<string>辽宁</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10131</string>
			<key>name</key>
			<string>海南</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10125</string>
			<key>name</key>
			<string>湖南</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10118</string>
			<key>name</key>
			<string>河南</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10126</string>
			<key>name</key>
			<string>贵州</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10124</string>
			<key>name</key>
			<string>江西</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10130</string>
			<key>name</key>
			<string>广西</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10111</string>
			<key>name</key>
			<string>陕西</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10110</string>
			<key>name</key>
			<string>山西</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10115</string>
			<key>name</key>
			<string>青海</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10117</string>
			<key>name</key>
			<string>宁夏</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10116</string>
			<key>name</key>
			<string>甘肃</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10114</string>
			<key>name</key>
			<string>西藏</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10108</string>
			<key>name</key>
			<string>内蒙古</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10113</string>
			<key>name</key>
			<string>新疆</string>
		</dict>
	</dict>
	<dict>
		<key>province</key>
		<dict>
			<key>code</key>
			<string>10134</string>
			<key>name</key>
			<string>台湾</string>
		</dict>
	</dict>
</array>
</plist>
