<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>avartar</key>
		<string>pic01.jpg</string>
		<key>name</key>
		<string>Linda</string>
		<key>isLike</key>
		<string>1</string>
	</dict>
	<dict>
		<key>avartar</key>
		<string>pic02.jpg</string>
		<key>name</key>
		<string>Lily</string>
		<key>isLike</key>
		<string>0</string>
	</dict>
	<dict>
		<key>avartar</key>
		<string>pic03.jpg</string>
		<key>name</key>
		<string>Andrea</string>
		<key>isLike</key>
		<string>0</string>
	</dict>
	<dict>
		<key>avartar</key>
		<string>pic04.jpg</string>
		<key>name</key>
		<string>Anna</string>
		<key>isLike</key>
		<string>1</string>
	</dict>
	<dict>
		<key>avartar</key>
		<string>pic05.jpg</string>
		<key>name</key>
		<string>Jessica</string>
		<key>isLike</key>
		<string>0</string>
	</dict>
	<dict>
		<key>avartar</key>
		<string>pic06.jpg</string>
		<key>name</key>
		<string>Grace</string>
		<key>isLike</key>
		<string>0</string>
	</dict>
	<dict>
		<key>avartar</key>
		<string>pic07.jpg</string>
		<key>name</key>
		<string>Maggie</string>
		<key>isLike</key>
		<string>1</string>
	</dict>
	<dict>
		<key>avartar</key>
		<string>pic08.jpg</string>
		<key>name</key>
		<string>Bonnie</string>
		<key>isLike</key>
		<string>1</string>
	</dict>
</array>
</plist>
