<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Almond</string>
				<key>colorValue</key>
				<string>#EED9C4</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Antique Brass</string>
				<key>colorValue</key>
				<string>#C88A65</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Apricot</string>
				<key>colorValue</key>
				<string>#FDD5B1</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Aquamarine</string>
				<key>colorValue</key>
				<string>#71D9E2</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Asparagus</string>
				<key>colorValue</key>
				<string>#7BA05B</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Atomic Tangerine</string>
				<key>colorValue</key>
				<string>#FF9966</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>A</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Banana Mania</string>
				<key>colorValue</key>
				<string>#FBE7B2</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Beaver</string>
				<key>colorValue</key>
				<string>#926F5B</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Bittersweet</string>
				<key>colorValue</key>
				<string>#FE6F5E</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Black</string>
				<key>colorValue</key>
				<string>#000000</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Blizzard Blue</string>
				<key>colorValue</key>
				<string>#A3E3ED</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Blue</string>
				<key>colorValue</key>
				<string>#0066FF</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Blue Bell</string>
				<key>colorValue</key>
				<string>#9999CC</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Blue Green</string>
				<key>colorValue</key>
				<string>#0095B6</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Blue Violet</string>
				<key>colorValue</key>
				<string>#6456B7</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Brick Red</string>
				<key>colorValue</key>
				<string>#C62D42</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Brink Pink</string>
				<key>colorValue</key>
				<string>#FB607F</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Brown</string>
				<key>colorValue</key>
				<string>#AF593E</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Burnt Orange</string>
				<key>colorValue</key>
				<string>#FF7034</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Burnt Sienna</string>
				<key>colorValue</key>
				<string>#E97451</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>B</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Cadet Blue</string>
				<key>colorValue</key>
				<string>#A9B2C3</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Canary</string>
				<key>colorValue</key>
				<string>#FFFF99</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Caribbean Green</string>
				<key>colorValue</key>
				<string>#00CC99</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Carnation Pink</string>
				<key>colorValue</key>
				<string>#FFA6C9</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Cerise</string>
				<key>colorValue</key>
				<string>#DA3287</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Cerulean</string>
				<key>colorValue</key>
				<string>#02A4D3</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Chartreuse</string>
				<key>colorValue</key>
				<string>#FF9966</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Chestnut</string>
				<key>colorValue</key>
				<string>#B94E48</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Copper</string>
				<key>colorValue</key>
				<string>#DA8A67</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Cornflower</string>
				<key>colorValue</key>
				<string>#93CCEA</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Cotton Candy</string>
				<key>colorValue</key>
				<string>#FFB7D5</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Cranberry</string>
				<key>colorValue</key>
				<string>#DB5079</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>C</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Dandelion</string>
				<key>colorValue</key>
				<string>#FED85D</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Denim</string>
				<key>colorValue</key>
				<string>#1560BD</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Desert Sand</string>
				<key>colorValue</key>
				<string>#EDC9AF</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>D</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Eggplant</string>
				<key>colorValue</key>
				<string>#614051</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Electric Lime</string>
				<key>colorValue</key>
				<string>#CCFF00</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>E</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Fern</string>
				<key>colorValue</key>
				<string>#63B76C</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Flesh</string>
				<key>colorValue</key>
				<string>#FFCBA4</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Forest Green</string>
				<key>colorValue</key>
				<string>#5FA777</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Fuchsia</string>
				<key>colorValue</key>
				<string>#C154C1</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Fuzzy Wuzzy Brown</string>
				<key>colorValue</key>
				<string>#C45655</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>F</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Gold</string>
				<key>colorValue</key>
				<string>#E6BE8A</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Goldenrod</string>
				<key>colorValue</key>
				<string>#FCD667</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Granny Smith Apple</string>
				<key>colorValue</key>
				<string>#9DE093</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Gray</string>
				<key>colorValue</key>
				<string>#8B8680</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Green</string>
				<key>colorValue</key>
				<string>#01A368</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Green Yellow</string>
				<key>colorValue</key>
				<string>#F1E788</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>G</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Happy Ever After</string>
				<key>colorValue</key>
				<string>#6CDA37</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Hot Magenta</string>
				<key>colorValue</key>
				<string>#FF00CC</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>H</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Inch Worm</string>
				<key>colorValue</key>
				<string>#B0E313</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Indian Red</string>
				<key>colorValue</key>
				<string>#B94E48</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Indigo</string>
				<key>colorValue</key>
				<string>#4F69C6</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>I</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Jazzberry Jam</string>
				<key>colorValue</key>
				<string>#A50B5E</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Jungle Green</string>
				<key>colorValue</key>
				<string>#29AB87</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>J</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Laser Lemon</string>
				<key>colorValue</key>
				<string>#FFFF66</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Lavender</string>
				<key>colorValue</key>
				<string>#FBAED2</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>L</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Macaroni And Cheese</string>
				<key>colorValue</key>
				<string>#FFB97B</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Magenta</string>
				<key>colorValue</key>
				<string>#F653A6</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Magic Mint</string>
				<key>colorValue</key>
				<string>#AAF0D1</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Mahogany</string>
				<key>colorValue</key>
				<string>#CA3435</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Manatee</string>
				<key>colorValue</key>
				<string>#8D90A1</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Mango Tango</string>
				<key>colorValue</key>
				<string>#E77200</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Maroon</string>
				<key>colorValue</key>
				<string>#C32148</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Mauvelous</string>
				<key>colorValue</key>
				<string>#F091A9</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Melon</string>
				<key>colorValue</key>
				<string>#FEBAAD</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Midnight Blue</string>
				<key>colorValue</key>
				<string>#003366</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Mountain Meadow</string>
				<key>colorValue</key>
				<string>#1AB385</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Mulberry</string>
				<key>colorValue</key>
				<string>#C54B8C</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>M</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Navy Blue</string>
				<key>colorValue</key>
				<string>#0066CC</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Neon Carrot</string>
				<key>colorValue</key>
				<string>#FF9933</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>N</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Olive Green</string>
				<key>colorValue</key>
				<string>#B5B35C</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Orange</string>
				<key>colorValue</key>
				<string>#FF681F</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Orchid</string>
				<key>colorValue</key>
				<string>#E29CD2</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Outer Space</string>
				<key>colorValue</key>
				<string>#2D383A</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Outrageous Orange</string>
				<key>colorValue</key>
				<string>#FF6037</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>O</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Pacific Blue</string>
				<key>colorValue</key>
				<string>#009DC4</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Peach</string>
				<key>colorValue</key>
				<string>#FFCBA4</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Periwinkle</string>
				<key>colorValue</key>
				<string>#C3CDE6</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Pig Pink</string>
				<key>colorValue</key>
				<string>#FDD7E4</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Pine Green</string>
				<key>colorValue</key>
				<string>#01796F</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Pink Flamingo</string>
				<key>colorValue</key>
				<string>#FF66FF</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Plum</string>
				<key>colorValue</key>
				<string>#843179</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Prussian Blue</string>
				<key>colorValue</key>
				<string>#003366</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Purple Heart</string>
				<key>colorValue</key>
				<string>#652DC1</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Purple Mountain's Majesty</string>
				<key>colorValue</key>
				<string>#9678B6</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Purple Pizzazz</string>
				<key>colorValue</key>
				<string>#FF00CC</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>P</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Radical Red</string>
				<key>colorValue</key>
				<string>#FF355E</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Raw Sienna</string>
				<key>colorValue</key>
				<string>#D27D46</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Razzle Dazzle Rose</string>
				<key>colorValue</key>
				<string>#FF33CC</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Razzmatazz</string>
				<key>colorValue</key>
				<string>#E30B5C</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Red</string>
				<key>colorValue</key>
				<string>#ED0A3F</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Red Orange</string>
				<key>colorValue</key>
				<string>#FF3F34</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Red Violet</string>
				<key>colorValue</key>
				<string>#BB3385</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Robin's Egg Blue</string>
				<key>colorValue</key>
				<string>#00CCCC</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Royal Purple</string>
				<key>colorValue</key>
				<string>#6B3FA0</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>R</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Salmon</string>
				<key>colorValue</key>
				<string>#FF91A4</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Scarlet</string>
				<key>colorValue</key>
				<string>#FD0E35</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Screamin' Green</string>
				<key>colorValue</key>
				<string>#66FF66</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Sea Green</string>
				<key>colorValue</key>
				<string>#93DFB8</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Sepia</string>
				<key>colorValue</key>
				<string>#9E5B40</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Shadow</string>
				<key>colorValue</key>
				<string>#837050</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Shamrock</string>
				<key>colorValue</key>
				<string>#33CC99</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Shocking Pink</string>
				<key>colorValue</key>
				<string>#FF6FFF</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Silver</string>
				<key>colorValue</key>
				<string>#C9C0BB</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Sky Blue</string>
				<key>colorValue</key>
				<string>#76D7EA</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Spring Green</string>
				<key>colorValue</key>
				<string>#ECEBBD</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Sunglow</string>
				<key>colorValue</key>
				<string>#FFCC33</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Sunset Orange</string>
				<key>colorValue</key>
				<string>#FE4C40</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>S</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Tan</string>
				<key>colorValue</key>
				<string>#FA9D5A</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Tickle Me Pink</string>
				<key>colorValue</key>
				<string>#FC80A5</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Timberwolf</string>
				<key>colorValue</key>
				<string>#D9D6CF</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Torch Red</string>
				<key>colorValue</key>
				<string>#FD0E35</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Tropical Rain Forest</string>
				<key>colorValue</key>
				<string>#00755E</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Tumbleweed</string>
				<key>colorValue</key>
				<string>#DEA681</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Turquoise Blue</string>
				<key>colorValue</key>
				<string>#6CDAE7</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>T</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Ultra Green</string>
				<key>colorValue</key>
				<string>#66FF66</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Ultra Orange</string>
				<key>colorValue</key>
				<string>#FF6037</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Ultra Pink</string>
				<key>colorValue</key>
				<string>#FF6FFF</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Ultra Red</string>
				<key>colorValue</key>
				<string>#FD5B78</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Ultra Yellow</string>
				<key>colorValue</key>
				<string>#FFFF66</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Unmellow Yellow</string>
				<key>colorValue</key>
				<string>#FFFF66</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>U</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Violet (purple)</string>
				<key>colorValue</key>
				<string>#8359A3</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Violet Red</string>
				<key>colorValue</key>
				<string>#F7468A</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Vivid Tangerine</string>
				<key>colorValue</key>
				<string>#FF9980</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Vivid Violet</string>
				<key>colorValue</key>
				<string>#803790</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>V</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>White</string>
				<key>colorValue</key>
				<string>#FFFFFF</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Wild Blue Yonder</string>
				<key>colorValue</key>
				<string>#7A89B8</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Wild Strawberry</string>
				<key>colorValue</key>
				<string>#FF3399</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Wild Watermelon</string>
				<key>colorValue</key>
				<string>#FD5B78</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Wisteria</string>
				<key>colorValue</key>
				<string>#C9A0DC</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>W</string>
	</dict>
	<dict>
		<key>colorGroup</key>
		<array>
			<dict>
				<key>colorName</key>
				<string>Yellow</string>
				<key>colorValue</key>
				<string>#FBE870</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Yellow Green</string>
				<key>colorValue</key>
				<string>#C5E17A</string>
			</dict>
			<dict>
				<key>colorName</key>
				<string>Yellow Orange</string>
				<key>colorValue</key>
				<string>#FFAE42</string>
			</dict>
		</array>
		<key>groupName</key>
		<string>Y</string>
	</dict>
</array>
</plist>
